*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

.my-40 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.color {
  &-light {
    color: white !important;
  }
  &-dark {
    color: black !important;
  }
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

//Card personajes
.cardPersonaje {
  margin: 15px;
}
@media (max-width: 767px) {
  .mr {
    margin: 10px;
  }
}

@media (min-width: 768px) {
  .mr {
    margin: 80px;
  }
}

.ant {
  &-card {
    &-actions {
      &:hover {
        background-color: #303030;
        a {
          color: white !important;
        }
      }
    }
  }
  &-body {
    p {
      margin: 5px;
    }
  }
  &-bordered {
    box-shadow: 0px 0px 30px -10px #c3c3c3;
    border: 1px solid #f4f4f4;
    &:hover {
      box-shadow: 0px 0px 30px -8px #b1b1b1;
    }
  }

  &-layout {
    overflow: hidden;
    &-footer {
      padding: 20px 50px 0px 50px;
      color: rgba(0, 0, 0, 0.85);
      font-size: 14px;
      background: #cccccc;
      text-align: center;
    }
  }
}

//Loading
.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  &-container {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100vmax;
    max-height: 100vmax;
    padding: 10px;
    margin: 0px;
    z-index: 100;
    width: 100%;
    height: 100%;
  }
}

.topbar {
  background-color: yellow;
  box-shadow: 0 0 10px -5px #e0e0e0;
  z-index: 999;
}

// Generales
.text-center {
  text-align: center;
}
